@font-face {
  font-family: Muli;
  src: url(../fonts/Muli/Muli-Regular.ttf);
}
#main {
  background-image: url("../img/bg_blue_02.jpg");
  background-size: contain;
}

.no-padding {
  padding: 0;
}
.header-img, .footer-img {
  img {
    width: 100%;
  }
}
.news-wrapper {
  background-image: url("../img/bg_blue_02.jpg");
  background-size: cover;
  padding-top: 134px;
  margin-top: -73px;
  padding-bottom: 134px;
  margin-bottom: -73px;
  h2 {
    color: white;
    font-family: Muli;
    font-size: 34px;
    font-weight: 700;
  }
  ul.filter  {
    margin-left: 0; 
    padding-left: 0;
    li {
      list-style-type: none;
      float: left;
      padding-left: 10px;
      padding-right: 10px;
      a {
        color: white;
        font-family: Muli;
        font-size: 15px;
        font-weight: 700;
        text-decoration: none;
        padding: 4px 10px;
        border: 1px solid transparent;
      }
    }
    li.active {
      a {
        border: 1px solid white;
        border-radius: 20px;
      }
    }
  }
  .posts-wrapper {
    .item {
      width: 300px;
      min-height: 372px;
      background-image: url("../img/p2_bg.jpg");
      background-size: cover; 
      position: relative;
      margin: 0 auto 74px;
      .text-wrap{
        position: absolute;
        top: 50%;
        background-color: #fff;
        width: 100%;
        height: 50%;
        transition: 1s;
        padding: 23px;
        overflow: hidden;
        p {
          margin-bottom: 0;
          color: black;
          font-family: Muli;
        }
        p.date{
          opacity: 0.38;
          font-size: 11px;
          font-weight: 600;
          text-transform: uppercase;
        }
        p.title {
          font-size: 22px;
          font-weight: 600;
          margin-bottom: 9px;
        }
        p.text {
          font-size: 16px;
          font-weight: 300;
          line-height: 22px;
        }
      }
      &:hover{
        .text-wrap{
          background: rgba(56,56,56,0);
          background: -moz-linear-gradient(top, rgba(56,56,56,0) 62%, rgba(56,56,56,0.24) 71%, rgba(38,38,38,0.95) 98%, rgba(38,38,38,1) 100%);
          background: -webkit-gradient(left top, left bottom, color-stop(62%, rgba(56,56,56,0)), color-stop(71%, rgba(56,56,56,0.24)), color-stop(98%, rgba(38,38,38,0.95)), color-stop(100%, rgba(38,38,38,1)));
          background: -webkit-linear-gradient(top, rgba(56,56,56,0) 62%, rgba(56,56,56,0.24) 71%, rgba(38,38,38,0.95) 98%, rgba(38,38,38,1) 100%);
          background: -o-linear-gradient(top, rgba(56,56,56,0) 62%, rgba(56,56,56,0.24) 71%, rgba(38,38,38,0.95) 98%, rgba(38,38,38,1) 100%);
          background: -ms-linear-gradient(top, rgba(56,56,56,0) 62%, rgba(56,56,56,0.24) 71%, rgba(38,38,38,0.95) 98%, rgba(38,38,38,1) 100%);
          background: linear-gradient(to bottom, rgba(56,56,56,0) 62%, rgba(56,56,56,0.24) 71%, rgba(38,38,38,0.95) 98%, rgba(38,38,38,1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383838', endColorstr='#262626', GradientType=0 );
          p {
            color: #fff;
            opacity: 1;
          }
        }
      }
    }
  }
  #load_more{
    background-color: transparent;
    color: white;
    font-family: Muli;
    font-size: 15px;
    font-weight: 700;
    &:focus{
      box-shadow:none;
    }
  }
  .post_wrapper_all{
    .active{
      display: flex!important;
    }
    .posts-wrapper {
      display: none;
    }
  }
}